<% content_for :title, "New admin" %>

<h1>New admin</h1>

<div id="not_admins">
  <% @users.each do |user| %>
    <div>
      <%= render 'users/user', user: user %>
      <%= button_to "Make admin", user_admins_path(user), { method: :patch } %>
    </div>
  <% end %>
</div>

<br>

<div>
  <%= link_to "Back to admins", users_admins_path %>
</div>
